@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border:none !important;
    font-family: "Inter",sans-serif;
}
.react-calendar{
    background-color: "#C3EBFF";
    color: black !important;
}
.react-calendar__navigation__label__labelText {
  font-weight: 600;
}
